<div class="row justify-content-center">
  <div class="col-xl-auto border border-dark p-1 m-1 bg-light">
    <h1 class="bg-primary p-3 m-2 text-center text-white"><i class="fa fa-eye" aria-hidden="true"></i> Privacy Policy</h1>
    <p class="bg-secondary p-3 m-2 text-center text-white"><i class="fa fa-mouse-pointer" aria-hidden="true"></i> Your personal information is safe with us. We will not divulge it to anyone</p>
    <h1 class="bg-primary p-3 m-2 text-center text-white"><i class="fa fa-sign-out" aria-hidden="true"></i> Opt Out of email subscription</h1>
    <p class="bg-secondary p-3 m-2 text-center text-white"><i class="fa fa-mouse-pointer" aria-hidden="true"></i> You may opt out of receiving emails at any time</p>
  </div>
</div>
